1

In [15]:
import os
import json
import pandas as pd

# Set the path to the data folder containing state-level data
data_folder_path = "C:/Users/Sahith/Desktop/Phonepe_Pulse/data/aggregated/transaction/country/india/state/"

# Get the list of states in India
state_list = os.listdir(data_folder_path)

# Initialize an empty dictionary to store the transaction data
transaction_data = {'State': [], 'Year': [], 'Quarter': [], 'Transaction Type': [], 
                    'Transaction Count': [], 'Transaction Amount': []}

# Loop through each state and extract the transaction data
for state in state_list:
    state_folder_path = os.path.join(data_folder_path, state)
    year_list = os.listdir(state_folder_path)
    
    for year in year_list:
        year_folder_path = os.path.join(state_folder_path, year)
        quarter_list = os.listdir(year_folder_path)
        
        for quarter in quarter_list:
            json_file_path = os.path.join(year_folder_path, quarter)
            with open(json_file_path, 'r') as json_file:
                data = json.load(json_file)
                try:
                    for transaction in data['data']['transactionData']:
                        name = transaction['name']
                        count = transaction['paymentInstruments'][0]['count']
                        amount = transaction['paymentInstruments'][0]['amount']
                        
                        transaction_data['State'].append(state)
                        transaction_data['Year'].append(year)
                        transaction_data['Quarter'].append(int(quarter.strip('.json')))
                        transaction_data['Transaction Type'].append(name)
                        transaction_data['Transaction Count'].append(count)
                        transaction_data['Transaction Amount'].append(amount)
                except:
                    pass

# Create a pandas dataframe from the extracted transaction data
transaction_df = pd.DataFrame(transaction_data)
transaction_df.to_csv("transaction_df.csv")
# Print the dataframe
print(transaction_df.head())

                       State  Year  Quarter          Transaction Type  \
0  andaman-&-nicobar-islands  2018        1  Recharge & bill payments
1  andaman-&-nicobar-islands  2018        1     Peer-to-peer payments
2  andaman-&-nicobar-islands  2018        1         Merchant payments
3  andaman-&-nicobar-islands  2018        1        Financial Services
4  andaman-&-nicobar-islands  2018        1                    Others

   Transaction Count  Transaction Amount
0               4200        1.845307e+06
1               1871        1.213866e+07
2                298        4.525072e+05
3                 33        1.060142e+04
4                256        1.846899e+05

2

In [16]:
import os
import json
import pandas as pd

# Set the path to the state-level data
path = "C:/Users/Sahith/Desktop/Phonepe_Pulse/data/aggregated/user/country/india/state/"

# Get a list of all the states
user_state_list = os.listdir(path)

# Initialize an empty dictionary to store the extracted data
data_dict = {
    'State': [],
    'Year': [],
    'Quarter': [],
    'Brand': [],
    'Brand_count': [],
    'Brand_percentage': []
}

# Loop through each state and extract the data
for state in user_state_list:
    # Set the path to the state's data
    state_path = os.path.join(path, state)
    year_list = os.listdir(state_path)
    
    # Loop through each year for the state and extract the data
    for year in year_list:
        year_path = os.path.join(state_path, year)
        quarter_list = os.listdir(year_path)
        
        # Loop through each quarter for the year and extract the data
        for quarter in quarter_list:
            quarter_path = os.path.join(year_path, quarter)
            
            # Load the JSON file and extract the brand data
            with open(quarter_path, 'r') as f:
                data = json.load(f)
                try:
                    for device in data["data"]["usersByDevice"]:
                        brand = device["brand"]
                        brand_count = device["count"]
                        brand_percentage = device["percentage"]
                        
                        # Add the extracted data to the dictionary
                        data_dict['State'].append(state)
                        data_dict['Year'].append(year)
                        data_dict['Quarter'].append(int(quarter.strip('.json')))
                        data_dict['Brand'].append(brand)
                        data_dict['Brand_count'].append(brand_count)
                        data_dict['Brand_percentage'].append(brand_percentage)
                except:
                    pass

# Create a pandas dataframe from the dictionary
user_by_device = pd.DataFrame(data_dict)
user_by_device.to_csv('user_by_device.csv')
# Display the resulting dataframe
user_by_device

,State,Year,Quarter,Brand,Brand_count,Brand_percentage
0,andaman-&-nicobar-islands,2018,1,Xiaomi,1665,0.247033
1,andaman-&-nicobar-islands,2018,1,Samsung,1445,0.214392
2,andaman-&-nicobar-islands,2018,1,Vivo,982,0.145697
3,andaman-&-nicobar-islands,2018,1,Oppo,501,0.074332
4,andaman-&-nicobar-islands,2018,1,OnePlus,332,0.049258
...,...,...,...,...,...,...
6727,west-bengal,2022,1,Lenovo,330017,0.015056
6728,west-bengal,2022,1,Infinix,284678,0.012987
6729,west-bengal,2022,1,Asus,280347,0.012790
6730,west-bengal,2022,1,Apple,277752,0.012671
6731,west-bengal,2022,1,Others,2196334,0.100199

3

In [17]:
# Set the path to the directory containing state-wise transaction data
path = "C:/Users/Sahith/Desktop/Phonepe_Pulse/data/map/transaction/hover/country/india/state/"
state_list = os.listdir(path)

# Create an empty dictionary to store the extracted data
clm = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Transaction_count': [], 'Transaction_amount': []}

# Loop over each state's directory to extract transaction data for each district
for i in state_list:
    state_path = path + i + "/"
    year_list = os.listdir(state_path)
    for year in year_list:
        year_path = state_path + year + "/"
        file_list = os.listdir(year_path)
        for filename in file_list:
            file_path = year_path + filename
            with open(file_path, 'r') as f:
                data = json.load(f)
                try:
                    for district_data in data['data']["hoverDataList"]:
                        district = district_data['name']
                        transaction_count = district_data['metric'][0]['count']
                        transaction_amount = district_data['metric'][0]['amount']
                        clm['District'].append(district)
                        clm['Transaction_count'].append(transaction_count)
                        clm['Transaction_amount'].append(transaction_amount)
                        clm['State'].append(i)
                        clm['Year'].append(year)
                        clm['Quarter'].append(int(filename.strip('.json')))
                except:
                    pass 

# Create a pandas DataFrame from the extracted data
map_transaction = pd.DataFrame(clm)
map_transaction.to_csv('district_map_transaction.csv')
map_transaction

,State,Year,Quarter,District,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
14631,west-bengal,2022,4,nadia district,12690126,2.804568e+10
14632,west-bengal,2022,4,birbhum district,7617444,1.614650e+10
14633,west-bengal,2022,4,purba medinipur district,14484229,3.309949e+10
14634,west-bengal,2022,4,maldah district,12492746,2.721861e+10
14635,west-bengal,2022,4,darjiling district,8827502,1.801650e+10

3

In [18]:
import os
import json
import pandas as pd

data_path = os.path.join("C:/", "Users", "Sahith", "Desktop", "Phonepe_Pulse", "data", "map", "user", "hover", "country", "india", "state")
state_list = os.listdir(data_path)


# This is to extract the data to create a dataframe

columns = {'State': [], 'Year': [], 'Quarter': [], 'District': [], 'Registered User': [], 'App Opening': []}
for state in state_list:
    state_path = os.path.join(data_path, state)
    years = os.listdir(state_path)
    for year in years:
        year_path = os.path.join(state_path, year)
        files = os.listdir(year_path)
        for file in files:
            file_path = os.path.join(year_path, file)
            with open(file_path, 'r') as f:
                data = json.load(f)
                try:
                    for district in data['data']['hoverData']:
                        registered_user = data['data']['hoverData'][district]['registeredUsers']
                        app_opening = data['data']['hoverData'][district]['appOpens']
                        columns['State'].append(state)
                        columns['Year'].append(year)
                        columns['Quarter'].append(int(file.strip('.json')))
                        columns['District'].append(district)
                        columns['Registered User'].append(registered_user)
                        columns['App Opening'].append(app_opening)
                except:
                    pass       
                 
district_registering = pd.DataFrame(columns)
district_registering.to_csv('district_registering_map.csv')
district_registering

,State,Year,Quarter,District,Registered User,App Opening
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,632,0
1,andaman-&-nicobar-islands,2018,1,south andaman district,5846,0
2,andaman-&-nicobar-islands,2018,1,nicobars district,262,0
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,911,0
4,andaman-&-nicobar-islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
14635,west-bengal,2022,4,nadia district,1359420,33853990
14636,west-bengal,2022,4,birbhum district,855236,20950662
14637,west-bengal,2022,4,purba medinipur district,1346908,38278506
14638,west-bengal,2022,4,maldah district,954892,29023743
14639,west-bengal,2022,4,darjiling district,564562,15982631