In [1]:
import streamlit as st
import pandas as pd
import plotly.express as px
from sqlalchemy import create_engine,text

engine = create_engine('mysql+pymysql://root:GItamsai123$@localhost:3306/phonepe_database')
connection = engine.connect()

query1 = text('SELECT * FROM agg_transaction_table')
df = pd.read_sql(query1, con=connection)
print(df)

      Unnamed: 0                      State  Year  Quarter  \
0              0  andaman-&-nicobar-islands  2018        1
1              1  andaman-&-nicobar-islands  2018        1
2              2  andaman-&-nicobar-islands  2018        1
3              3  andaman-&-nicobar-islands  2018        1
4              4  andaman-&-nicobar-islands  2018        1
...          ...                        ...   ...      ...
3589        3589                west-bengal  2022        4
3590        3590                west-bengal  2022        4
3591        3591                west-bengal  2022        4
3592        3592                west-bengal  2022        4
3593        3593                west-bengal  2022        4

              Transaction Type  Transaction Count  Transaction Amount
0     Recharge & bill payments               4200        1.845307e+06
1        Peer-to-peer payments               1871        1.213866e+07
2            Merchant payments                298        4.525072e+05
3           Financial Services                 33        1.060142e+04
4                       Others                256        1.846899e+05
...                        ...                ...                 ...
3589     Peer-to-peer payments          184380244        6.202222e+11
3590         Merchant payments          171667404        1.408077e+11
3591  Recharge & bill payments           48921147        2.602663e+10
3592        Financial Services             268388        2.611229e+08
3593                    Others             610414        4.579379e+08

[3594 rows x 7 columns]

In [19]:
query2 = text('SELECT * FROM longitude_latitude_state_table')
state = pd.read_sql(query2, con=connection)
print(state)

     code   Latitude  Longitude                                     state
0      PY  10.915649  79.806949                                Puducherry
1      TN  10.909433  78.366535                                Tamil Nadu
2      UP  27.130334  80.859666                             Uttar Pradesh
3      MP  23.814342  77.534072                            Madhya Pradesh
4      AD  15.924091  80.186381                            Andhra Pradesh
5      TR  23.775082  91.702509                                   Tripura
6      LD  10.813249  73.680462                               Lakshadweep
7      MN  24.720882  93.922939                                   Manipur
8      MH  18.906836  75.674158                               Maharashtra
9   DNHDD  20.718175  70.932383  Dadra and Nagar Haveli and Daman and Diu
10     ML  25.537943  91.299910                                 Meghalaya
11     AN  10.000105  93.000019                         Andaman & Nicobar
12     HR  29.000000  76.000000                                   Haryana
13     RJ  26.810578  73.768455                                 Rajasthan
14     LA  33.945641  77.656858                                    Ladakh
15     PB  30.929321  75.500484                                    Punjab
16     AS  26.407384  93.255130                                     Assam
17     JH  23.455981  85.255730                                 Jharkhand
18     OD  20.543124  84.689732                                    Odisha
19     BR  25.644085  85.906508                                     Bihar
20     KL  10.352874  76.512040                                    Kerala
21     KA  14.520390  75.722352                                 Karnataka
22     CH  30.729844  76.784146                                Chandigarh
23     TS  17.849592  79.115166                                 Telangana
24     HP  31.816760  77.349321                          Himachal Pradesh
25     WB  22.996495  87.685588                               West Bengal
26     GJ  22.385005  71.745261                                   Gujarat
27     SK  27.601029  88.454136                                    Sikkim
28     NL  26.163056  94.588491                                  Nagaland
29     MZ  23.214617  92.868761                                   Mizoram
30     CG  21.663736  81.840635                              Chhattisgarh
31     JK  32.718561  74.858092                           Jammu & Kashmir
32     GA  15.300454  74.085513                                       Goa
33     AR  28.093770  94.592133                         Arunachal Pradesh
34     DL  28.651718  77.221939                                     Delhi
35     UK  30.041738  79.089691                               Uttarakhand

In [20]:
query3 = text('SELECT * FROM districts_longitude_latitude_table')
districts = pd.read_sql(query3, con=connection)
print(districts)

                         State                           District   Latitude  \
0    andaman-&-nicobar-islands  north and middle andaman district  11.554828
1    andaman-&-nicobar-islands             south andaman district  10.705690
2    andaman-&-nicobar-islands                  nicobars district  10.705690
3               andhra-pradesh             east godavari district  17.233496
4               andhra-pradesh                srikakulam district  17.233496
..                         ...                                ...        ...
727                west-bengal                     nadia district  23.405681
728                west-bengal                   birbhum district  24.000000
729                west-bengal           purba medinipur district  22.278812
730                west-bengal                    maldah district  25.000000
731                west-bengal                 darjiling district  26.750000

     Longitude
0    92.238490
1    92.487468
2    92.487468
3    81.722599
4    81.722599
..         ...
727  88.491331
728  87.583333
729  87.922504
730  88.000000
731  88.250000

[732 rows x 4 columns]

In [21]:
query4 = text('SELECT * FROM district_map_transaction_table')
districts_tran = pd.read_sql(query4, con=connection)
print(districts_tran)

       Unnamed: 0                      State  Year  Quarter  \
0               0  andaman-&-nicobar-islands  2018        1
1               1  andaman-&-nicobar-islands  2018        1
2               2  andaman-&-nicobar-islands  2018        1
3               3  andaman-&-nicobar-islands  2018        2
4               4  andaman-&-nicobar-islands  2018        2
...           ...                        ...   ...      ...
14631       14631                west-bengal  2022        4
14632       14632                west-bengal  2022        4
14633       14633                west-bengal  2022        4
14634       14634                west-bengal  2022        4
14635       14635                west-bengal  2022        4

                                District  Transaction_count  \
0      north and middle andaman district                442
1                 south andaman district               5688
2                      nicobars district                528
3      north and middle andaman district                825
4                 south andaman district               9395
...                                  ...                ...
14631                     nadia district           12690126
14632                   birbhum district            7617444
14633           purba medinipur district           14484229
14634                    maldah district           12492746
14635                 darjiling district            8827502

       Transaction_amount
0            9.316631e+05
1            1.256025e+07
2            1.139849e+06
3            1.317863e+06
4            2.394824e+07
...                   ...
14631        2.804568e+10
14632        1.614650e+10
14633        3.309949e+10
14634        2.721861e+10
14635        1.801650e+10

[14636 rows x 7 columns]

In [23]:
query5 = text('SELECT * FROM district_map_registering_table')
app_opening = pd.read_sql(query5, con=connection)
print(app_opening)

       Unnamed: 0                      State  Year  Quarter  \
0               0  andaman-&-nicobar-islands  2018        1
1               1  andaman-&-nicobar-islands  2018        1
2               2  andaman-&-nicobar-islands  2018        1
3               3  andaman-&-nicobar-islands  2018        2
4               4  andaman-&-nicobar-islands  2018        2
...           ...                        ...   ...      ...
14635       14635                west-bengal  2022        4
14636       14636                west-bengal  2022        4
14637       14637                west-bengal  2022        4
14638       14638                west-bengal  2022        4
14639       14639                west-bengal  2022        4

                                District  Registered User  App Opening
0      north and middle andaman district              632            0
1                 south andaman district             5846            0
2                      nicobars district              262            0
3      north and middle andaman district              911            0
4                 south andaman district             8143            0
...                                  ...              ...          ...
14635                     nadia district          1359420     33853990
14636                   birbhum district           855236     20950662
14637           purba medinipur district          1346908     38278506
14638                    maldah district           954892     29023743
14639                 darjiling district           564562     15982631

[14640 rows x 7 columns]

In [24]:
query6 = text('SELECT * FROM agg_userbydevice_table')
user_device = pd.read_sql(query6, con=connection)
print(user_device)

      Unnamed: 0                      State  Year  Quarter    Brand  \
0              0  andaman-&-nicobar-islands  2018        1   Xiaomi
1              1  andaman-&-nicobar-islands  2018        1  Samsung
2              2  andaman-&-nicobar-islands  2018        1     Vivo
3              3  andaman-&-nicobar-islands  2018        1     Oppo
4              4  andaman-&-nicobar-islands  2018        1  OnePlus
...          ...                        ...   ...      ...      ...
6727        6727                west-bengal  2022        1   Lenovo
6728        6728                west-bengal  2022        1  Infinix
6729        6729                west-bengal  2022        1     Asus
6730        6730                west-bengal  2022        1    Apple
6731        6731                west-bengal  2022        1   Others

      Brand_count  Brand_percentage
0            1665          0.247033
1            1445          0.214392
2             982          0.145697
3             501          0.074332
4             332          0.049258
...           ...               ...
6727       330017          0.015056
6728       284678          0.012987
6729       280347          0.012790
6730       277752          0.012671
6731      2196334          0.100199

[6732 rows x 7 columns]

In [2]:
import streamlit as st
import pandas as pd
import plotly.express as px
from sqlalchemy import create_engine, text

# Connect to the MySQL database
engine = create_engine('mysql+pymysql://root:GItamsai123$@localhost:3306/phonepe_database')
connection = engine.connect()

# Read data from the database tables
query1 = text('SELECT * FROM agg_transaction_table')
df = pd.read_sql(query1, con=connection)

query2 = text('SELECT * FROM longitude_latitude_state_table')
state = pd.read_sql(query2, con=connection)



query3 = text('SELECT * FROM districts_longitude_latitude_table')
districts = pd.read_sql(query3, con=connection)

query4 = text('SELECT * FROM district_map_transaction_table')
districts_tran = pd.read_sql(query4, con=connection)

query5 = text('SELECT * FROM district_map_registering_table')
app_opening = pd.read_sql(query5, con=connection)


query6 = text('SELECT * FROM agg_userbydevice_table')
user_device = pd.read_sql(query6, con=connection)

# Close the database connection
connection.close()

In [3]:
state = state.sort_values(by='state')

In [4]:
state = state.reset_index(drop=True)
print(state)

     code   Latitude  Longitude                                     state
0      AN  10.000105  93.000019                         Andaman & Nicobar
1      AD  15.924091  80.186381                            Andhra Pradesh
2      AR  28.093770  94.592133                         Arunachal Pradesh
3      AS  26.407384  93.255130                                     Assam
4      BR  25.644085  85.906508                                     Bihar
5      CH  30.729844  76.784146                                Chandigarh
6      CG  21.663736  81.840635                              Chhattisgarh
7   DNHDD  20.718175  70.932383  Dadra and Nagar Haveli and Daman and Diu
8      DL  28.651718  77.221939                                     Delhi
9      GA  15.300454  74.085513                                       Goa
10     GJ  22.385005  71.745261                                   Gujarat
11     HR  29.000000  76.000000                                   Haryana
12     HP  31.816760  77.349321                          Himachal Pradesh
13     JK  32.718561  74.858092                           Jammu & Kashmir
14     JH  23.455981  85.255730                                 Jharkhand
15     KA  14.520390  75.722352                                 Karnataka
16     KL  10.352874  76.512040                                    Kerala
17     LA  33.945641  77.656858                                    Ladakh
18     LD  10.813249  73.680462                               Lakshadweep
19     MP  23.814342  77.534072                            Madhya Pradesh
20     MH  18.906836  75.674158                               Maharashtra
21     MN  24.720882  93.922939                                   Manipur
22     ML  25.537943  91.299910                                 Meghalaya
23     MZ  23.214617  92.868761                                   Mizoram
24     NL  26.163056  94.588491                                  Nagaland
25     OD  20.543124  84.689732                                    Odisha
26     PY  10.915649  79.806949                                Puducherry
27     PB  30.929321  75.500484                                    Punjab
28     RJ  26.810578  73.768455                                 Rajasthan
29     SK  27.601029  88.454136                                    Sikkim
30     TN  10.909433  78.366535                                Tamil Nadu
31     TS  17.849592  79.115166                                 Telangana
32     TR  23.775082  91.702509                                   Tripura
33     UP  27.130334  80.859666                             Uttar Pradesh
34     UK  30.041738  79.089691                               Uttarakhand
35     WB  22.996495  87.685588                               West Bengal

In [11]:
df2 = df.groupby(['State']).sum()[['Transaction Count', 'Transaction Amount']]
df2 = df2.reset_index()
df2

C:\Users\Sahith\AppData\Local\Temp\ipykernel_8312\3467528166.py:1: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

                                 State  Transaction Count  Transaction Amount
0            andaman-&-nicobar-islands            7747331        1.899471e+10
1                       andhra-pradesh         5321987775        1.158475e+13
2                    arunachal-pradesh           27274484        7.054324e+10
3                                assam          528422472        1.100828e+12
4                                bihar         2745429444        5.649345e+12
5                           chandigarh           90820816        1.607996e+11
6                         chhattisgarh          941074354        1.468350e+12
7   dadra-&-nagar-haveli-&-daman-&-diu           43966520        5.734306e+10
8                                delhi         3274904754        5.111844e+12
9                                  goa           98849639        1.605663e+11
10                             gujarat         2052224247        3.625038e+12
11                             haryana         1870596824        3.264982e+12
12                    himachal-pradesh          170818031        2.846996e+11
13                     jammu-&-kashmir          164904607        3.447011e+11
14                           jharkhand         1008027640        1.706199e+12
15                           karnataka         9570042576        1.387433e+13
16                              kerala          822459542        1.228494e+12
17                              ladakh            7123601        2.304253e+10
18                         lakshadweep             166804        4.952230e+08
19                      madhya-pradesh         4463695860        7.026999e+12
20                         maharashtra        10389479956        1.477133e+13
21                             manipur           45147601        1.189334e+11
22                           meghalaya           20197849        4.770306e+10
23                             mizoram            5796340        1.749408e+10
24                            nagaland           17180851        4.893368e+10
25                              odisha         2561254352        4.087671e+12
26                          puducherry           59384639        9.911006e+10
27                              punjab          582273955        1.164042e+12
28                           rajasthan         5130073858        9.110360e+12
29                              sikkim           18750367        4.294147e+10
30                          tamil-nadu         2742806151        4.700872e+12
31                           telangana         9143814959        1.652292e+13
32                             tripura           32364668        6.305850e+10
33                       uttar-pradesh         4636625871        8.179116e+12
34                         uttarakhand          440122775        6.991765e+11
35                         west-bengal         2687915807        4.969909e+12

In [5]:
choropleth_data = state.copy()

In [12]:

for column in df2.columns:
    choropleth_data[column] = df2[column]
choropleth_data = choropleth_data.drop(labels='State', axis=1)
choropleth_data

,code,Latitude,Longitude,state,Transaction Count,Transaction Amount
0,AN,10.000105,93.000019,Andaman & Nicobar,7747331,1.899471e+10
1,AD,15.924091,80.186381,Andhra Pradesh,5321987775,1.158475e+13
2,AR,28.093770,94.592133,Arunachal Pradesh,27274484,7.054324e+10
3,AS,26.407384,93.255130,Assam,528422472,1.100828e+12
4,BR,25.644085,85.906508,Bihar,2745429444,5.649345e+12
5,CH,30.729844,76.784146,Chandigarh,90820816,1.607996e+11
6,CG,21.663736,81.840635,Chhattisgarh,941074354,1.468350e+12
7,DNHDD,20.718175,70.932383,Dadra and Nagar Haveli and Daman and Diu,43966520,5.734306e+10
8,DL,28.651718,77.221939,Delhi,3274904754,5.111844e+12
9,GA,15.300454,74.085513,Goa,98849639,1.605663e+11
10,GJ,22.385005,71.745261,Gujarat,2052224247,3.625038e+12
11,HR,29.000000,76.000000,Haryana,1870596824,3.264982e+12
12,HP,31.816760,77.349321,Himachal Pradesh,170818031,2.846996e+11
13,JK,32.718561,74.858092,Jammu & Kashmir,164904607,3.447011e+11
14,JH,23.455981,85.255730,Jharkhand,1008027640,1.706199e+12
15,KA,14.520390,75.722352,Karnataka,9570042576,1.387433e+13
16,KL,10.352874,76.512040,Kerala,822459542,1.228494e+12
17,LA,33.945641,77.656858,Ladakh,7123601,2.304253e+10
18,LD,10.813249,73.680462,Lakshadweep,166804,4.952230e+08
19,MP,23.814342,77.534072,Madhya Pradesh,4463695860,7.026999e+12
20,MH,18.906836,75.674158,Maharashtra,10389479956,1.477133e+13
21,MN,24.720882,93.922939,Manipur,45147601,1.189334e+11
22,ML,25.537943,91.299910,Meghalaya,20197849,4.770306e+10
23,MZ,23.214617,92.868761,Mizoram,5796340,1.749408e+10
24,NL,26.163056,94.588491,Nagaland,17180851,4.893368e+10
25,OD,20.543124,84.689732,Odisha,2561254352,4.087671e+12
26,PY,10.915649,79.806949,Puducherry,59384639,9.911006e+10
27,PB,30.929321,75.500484,Punjab,582273955,1.164042e+12
28,RJ,26.810578,73.768455,Rajasthan,5130073858,9.110360e+12
29,SK,27.601029,88.454136,Sikkim,18750367,4.294147e+10
30,TN,10.909433,78.366535,Tamil Nadu,2742806151,4.700872e+12
31,TS,17.849592,79.115166,Telangana,9143814959,1.652292e+13
32,TR,23.775082,91.702509,Tripura,32364668,6.305850e+10
33,UP,27.130334,80.859666,Uttar Pradesh,4636625871,8.179116e+12
34,UK,30.041738,79.089691,Uttarakhand,440122775,6.991765e+11
35,WB,22.996495,87.685588,West Bengal,2687915807,4.969909e+12

In [13]:


for column in df2.columns:
    choropleth_data[column] = df2[column]
choropleth_data = choropleth_data.drop(labels='State', axis=1)

df.rename(columns={'State': 'state'}, inplace=True)
sta_list = ['andaman-&-nicobar-islands', 'andhra-pradesh', 'arunachal-pradesh',
            'assam', 'bihar', 'chandigarh', 'chhattisgarh',
            'dadra-&-nagar-haveli-&-daman-&-diu', 'delhi', 'goa', 'gujarat',
            'haryana', 'himachal-pradesh', 'jammu-&-kashmir', 'jharkhand',
            'karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya-pradesh',
            'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland',
            'odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim',
            'tamil-nadu', 'telangana', 'tripura', 'uttar-pradesh',
            'uttarakhand', 'west-bengal']
state['state'] = pd.Series(data=sta_list)
state_final = pd.merge(df, state, how='outer', on='state')
print(state_final)

      Unnamed: 0                      state  Year  Quarter  \
0              0  andaman-&-nicobar-islands  2018        1
1              1  andaman-&-nicobar-islands  2018        1
2              2  andaman-&-nicobar-islands  2018        1
3              3  andaman-&-nicobar-islands  2018        1
4              4  andaman-&-nicobar-islands  2018        1
...          ...                        ...   ...      ...
3589        3589                west-bengal  2022        4
3590        3590                west-bengal  2022        4
3591        3591                west-bengal  2022        4
3592        3592                west-bengal  2022        4
3593        3593                west-bengal  2022        4

              Transaction Type  Transaction Count  Transaction Amount code  \
0     Recharge & bill payments               4200        1.845307e+06   AN
1        Peer-to-peer payments               1871        1.213866e+07   AN
2            Merchant payments                298        4.525072e+05   AN
3           Financial Services                 33        1.060142e+04   AN
4                       Others                256        1.846899e+05   AN
...                        ...                ...                 ...  ...
3589     Peer-to-peer payments          184380244        6.202222e+11   WB
3590         Merchant payments          171667404        1.408077e+11   WB
3591  Recharge & bill payments           48921147        2.602663e+10   WB
3592        Financial Services             268388        2.611229e+08   WB
3593                    Others             610414        4.579379e+08   WB

       Latitude  Longitude
0     10.000105  93.000019
1     10.000105  93.000019
2     10.000105  93.000019
3     10.000105  93.000019
4     10.000105  93.000019
...         ...        ...
3589  22.996495  87.685588
3590  22.996495  87.685588
3591  22.996495  87.685588
3592  22.996495  87.685588
3593  22.996495  87.685588

[3594 rows x 10 columns]

In [9]:
districts_final = pd.merge(districts_tran, districts,
                           how='outer', on=['State', 'District'])
print(districts_final)

       Unnamed: 0                      State  Year  Quarter  \
0               0  andaman-&-nicobar-islands  2018        1
1               3  andaman-&-nicobar-islands  2018        2
2               6  andaman-&-nicobar-islands  2018        3
3               9  andaman-&-nicobar-islands  2018        4
4              12  andaman-&-nicobar-islands  2019        1
...           ...                        ...   ...      ...
14631       14543                west-bengal  2021        4
14632       14566                west-bengal  2022        1
14633       14589                west-bengal  2022        2
14634       14612                west-bengal  2022        3
14635       14635                west-bengal  2022        4

                                District  Transaction_count  \
0      north and middle andaman district                442
1      north and middle andaman district                825
2      north and middle andaman district               1283
3      north and middle andaman district               2137
4      north and middle andaman district               3264
...                                  ...                ...
14631                 darjiling district            5168108
14632                 darjiling district            6770488
14633                 darjiling district            8666918
14634                 darjiling district            8026853
14635                 darjiling district            8827502

       Transaction_amount   Latitude  Longitude
0            9.316631e+05  11.554828   92.23849
1            1.317863e+06  11.554828   92.23849
2            4.901530e+06  11.554828   92.23849
3            7.955636e+06  11.554828   92.23849
4            9.561709e+06  11.554828   92.23849
...                   ...        ...        ...
14631        1.168181e+10  26.750000   88.25000
14632        1.536080e+10  26.750000   88.25000
14633        1.901314e+10  26.750000   88.25000
14634        1.645482e+10  26.750000   88.25000
14635        1.801650e+10  26.750000   88.25000

[14636 rows x 9 columns]

In [8]:
st.balloons()
with st.container():
    st.title(':violet[PhonePe Pulse Data Visualization(2018-2022)📈]')
    st.write(' ')
    st.subheader(
        ':violet[Registered user & App installed -> State and Districtwise:]')
    st.write(' ')
    scatter_year = st.selectbox('Please select the Year',
                                ('2018', '2019', '2020', '2021', '2022'))
    st.write(' ')
    scatter_state = st.selectbox('Please select State', ('andaman-&-nicobar-islands', 'andhra-pradesh', 'arunachal-pradesh',
                                                         'assam', 'bihar', 'chandigarh', 'chhattisgarh',
                                                         'dadra-&-nagar-haveli-&-daman-&-diu', 'delhi', 'goa', 'gujarat',
                                                         'haryana', 'himachal-pradesh', 'jammu-&-kashmir', 'jharkhand',
                                                         'karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya-pradesh',
                                                         'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland',
                                                         'odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim',
                                                         'tamil-nadu', 'telangana', 'tripura', 'uttar-pradesh',
                                                         'uttarakhand', 'west-bengal'), index=10)
    scatter_year = int(scatter_year)
    scatter_reg_df = app_opening[(app_opening['Year'] == scatter_year) & (
        app_opening['State'] == scatter_state)]
    print(scatter_reg_df)
    scatter_register = px.scatter(scatter_reg_df, x="District", y="Registered User",  color="District",
                                  hover_name="District", hover_data=['Year', 'Quarter', 'App Opening'], size_max=60)
    st.plotly_chart(scatter_register)
st.write(' ')

2023-05-12 08:03:44.270
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\Sahith\AppData\Local\Programs\Python\Python310\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

      Unnamed: 0    State  Year  Quarter                  District  \
3120        3120  gujarat  2018        1            anand district
3121        3121  gujarat  2018        1         jamnagar district
3122        3122  gujarat  2018        1  devbhumi dwarka district
3123        3123  gujarat  2018        1           rajkot district
3124        3124  gujarat  2018        1        aravallis district
...          ...      ...   ...      ...                       ...
3247        3247  gujarat  2018        4          navsari district
3248        3248  gujarat  2018        4            patan district
3249        3249  gujarat  2018        4          kachchh district
3250        3250  gujarat  2018        4    surendranagar district
3251        3251  gujarat  2018        4            morbi district

      Registered User  App Opening
3120            68052            0
3121            52416            0
3122            15809            0
3123           133017            0
3124            21932            0
...               ...          ...
3247            75930            0
3248            84408            0
3249           195295            0
3250            80167            0
3251            64779            0

[132 rows x 7 columns]

In [14]:
geo_analysis, Device_analysis, payment_analysis, transac_yearwise = st.tabs(
    ["Geographical analysis", "User device analysis", "Payment Types analysis", "Transacion analysis of States"])

In [28]:
with geo_analysis:
    st.subheader(':violet[Transaction analysis->State and Districtwise:]')
    st.write(' ')
    Year = st.radio('Please select the Year',
                    ('2018', '2019', '2020', '2021', '2022'), horizontal=True)
    st.write(' ')
    Quarter = st.radio('Please select the Quarter',
                       ('1', '2', '3', '4'), horizontal=True)
    st.write(' ')
    Year = int(Year)
    Quarter = int(Quarter)
    plot_district = districts_final[(districts_final['Year'] == Year) & (
        districts_final['Quarter'] == Quarter)]
    plot_state = state_final[(state_final['Year'] == Year)
                             & (state_final['Quarter'] == Quarter)]
    plot_state_total = plot_state.groupby(
        ['state', 'Year', 'Quarter', 'Latitude', 'Longitude']).sum()
    plot_state_total = plot_state_total.reset_index()
    state_code = ['AN', 'AD', 'AR', 'AS', 'BR', 'CH', 'CG', 'DNHDD', 'DL', 'GA',
                  'GJ', 'HR', 'HP', 'JK', 'JH', 'KA', 'KL', 'LA', 'LD', 'MP', 'MH',
                  'MN', 'ML', 'MZ', 'NL', 'OD', 'PY', 'PB', 'RJ', 'SK', 'TN', 'TS',
                  'TR', 'UP', 'UK', 'WB']
    plot_state_total['code'] = pd.Series(data=state_code)

C:\Users\Sahith\AppData\Local\Temp\ipykernel_2088\1459637828.py:17: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

In [46]:
fig1 = px.scatter_geo(plot_district,
                      lon=plot_district['Longitude'],
                      lat=plot_district['Latitude'],
                      color=plot_district['Transaction_amount'],
                      size=plot_district['Transaction_count'],
                      hover_name="District",
                      hover_data=["State", 'Transaction_amount', 'Transaction_count', 'Year', 'Quarter'],
                      title='District',
                      size_max=22,)

fig1.update_traces(marker={'color': "#CC0044",
                           'line_width': 1})

fig2 = px.scatter_geo(plot_state_total,
                      lon=plot_state_total['Longitude'],
                      lat=plot_state_total['Latitude'],
                      hover_name='state',
                      text=plot_state_total['code'],
                      hover_data=['Transaction Count', 'Transaction Amount', 'Year', 'Quarter'],
                      )

fig2.update_traces(marker=dict(color="#D5FFCC", size=0.3))

fig = px.choropleth(choropleth_data,
                    geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
                    featureidkey='properties.ST_NM',
                    locations='state',
                    color='Transaction Amount',
                    color_continuous_scale='twilight',
                    hover_data=['Transaction Count', 'Transaction Amount'])

fig.update_geos(fitbounds="locations", visible=False)
fig.add_trace(fig1.data[0])
fig.add_trace(fig2.data[0])
fig.update_layout(height=1000, width=1000)

st.write(' ')
st.write(' ')

if st.button('Click here to see map clearly'):
    fig.show(renderer="browser")

st.plotly_chart(fig)

DeltaGenerator()

In [48]:
with Device_analysis:
    st.subheader(':violet[User Device analysis->Statewise:]')
    tree_map_state = st.selectbox('Please select State', ('andaman-&-nicobar-islands', 'andhra-pradesh', 'arunachal-pradesh',
                                                          'assam', 'bihar', 'chandigarh', 'chhattisgarh',
                                                          'dadra-&-nagar-haveli-&-daman-&-diu', 'delhi', 'goa', 'gujarat',
                                                          'haryana', 'himachal-pradesh', 'jammu-&-kashmir', 'jharkhand',
                                                          'karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya-pradesh',
                                                          'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland',
                                                          'odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim',
                                                          'tamil-nadu', 'telangana', 'tripura', 'uttar-pradesh',
                                                          'uttarakhand', 'west-bengal'), index=10, key='tree_map_state')
    tree_map_state_year = int(st.radio('Please select the Year',
                                       ('2018', '2019', '2020', '2021', '2022'), horizontal=True, key='tree_map_state_year'))
    tree_map_state_quater = int(st.radio('Please select the Quarter',
                                         ('1', '2', '3', '4'), horizontal=True, key='tree_map_state_quater'))
    user_device_treemap = user_device[(user_device['State'] == tree_map_state) & (user_device['Year'] == tree_map_state_year) &
                                      (user_device['Quarter'] == tree_map_state_quater)]
    user_device_treemap['Brand_count'] = user_device_treemap['Brand_count'].astype(
        str)

C:\Users\Sahith\AppData\Local\Temp\ipykernel_2088\1090951593.py:18: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [50]:
user_device_treemap_fig = px.treemap(user_device_treemap, path=['State', 'Brand'], values='Brand_percentage', hover_data=['Year', 'Quarter'],
                                         color='Brand_count',
                                         title='User device distribution in ' + tree_map_state +
                                         ' in ' + str(tree_map_state_year)+' at '+str(tree_map_state_quater)+' quater',)
st.plotly_chart(user_device_treemap_fig)

DeltaGenerator()

In [52]:
bar_user = px.bar(user_device_treemap, x='Brand', y='Brand_count', color='Brand',
                    title='Bar chart analysis', color_continuous_scale='sunset',)
st.plotly_chart(bar_user)

DeltaGenerator()

In [58]:
with payment_analysis:
    st.subheader(':violet[Payment type Analysis -> 2018 - 2022:]')
    #querypa = type('select * from agg_transaction_table')
    #payment_mode = pd.read_sql(querypa, con=connection)
    payment_mode = pd.read_csv('transaction_df.csv', index_col=0)
    pie_pay_mode_state = st.selectbox('Please select State', ('andaman-&-nicobar-islands', 'andhra-pradesh', 'arunachal-pradesh',
                                                              'assam', 'bihar', 'chandigarh', 'chhattisgarh',
                                                              'dadra-&-nagar-haveli-&-daman-&-diu', 'delhi', 'goa', 'gujarat',
                                                              'haryana', 'himachal-pradesh', 'jammu-&-kashmir', 'jharkhand',
                                                              'karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya-pradesh',
                                                              'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland',
                                                              'odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim',
                                                              'tamil-nadu', 'telangana', 'tripura', 'uttar-pradesh',
                                                              'uttarakhand', 'west-bengal'), index=10, key='pie_pay_mode_state')
    pie_pay_mode_year = int(st.radio('Please select the Year',
                                     ('2018', '2019', '2020', '2021', '2022'), horizontal=True, key='pie_pay_year'))
    pie_pay_mode__quater = int(st.radio('Please select the Quarter',
                                        ('1', '2', '3', '4'), horizontal=True, key='pie_pay_quater'))
    pie_pay_mode_values = st.selectbox(
        'Please select the values to visualize', ('Transacion_count', 'Transacion_amount'))
    pie_payment_mode = payment_mode[(payment_mode['Year'] == pie_pay_mode_year) & (
        payment_mode['Quarter'] == pie_pay_mode__quater) & (payment_mode['State'] == pie_pay_mode_state)]

In [62]:
pie_pay_mode = px.pie(pie_payment_mode, values='Transaction Count',
                      names='Transaction Type', hole=.5, hover_data=['Year'])

In [73]:
pay_bar = px.bar(pie_payment_mode, x='Transaction Type',
                 y='Transaction Count', color='Transaction Type', title="Transaction Count")
st.plotly_chart(pay_bar)
st.plotly_chart(pie_pay_mode)

DeltaGenerator()

In [80]:
with transac_yearwise:
    st.subheader(':violet[Transaction analysis->Statewise:]')
    transac_state = st.selectbox('Please select State', ('andaman-&-nicobar-islands', 'andhra-pradesh', 'arunachal-pradesh',
                                                         'assam', 'bihar', 'chandigarh', 'chhattisgarh',
                                                         'dadra-&-nagar-haveli-&-daman-&-diu', 'delhi', 'goa', 'gujarat',
                                                         'haryana', 'himachal-pradesh', 'jammu-&-kashmir', 'jharkhand',
                                                         'karnataka', 'kerala', 'ladakh', 'lakshadweep', 'madhya-pradesh',
                                                         'maharashtra', 'manipur', 'meghalaya', 'mizoram', 'nagaland',
                                                         'odisha', 'puducherry', 'punjab', 'rajasthan', 'sikkim',
                                                         'tamil-nadu', 'telangana', 'tripura', 'uttar-pradesh',
                                                         'uttarakhand', 'west-bengal'), index=10, key='transac')
    transac__quater = int(st.radio('Please select the Quarter',
                                   ('1', '2', '3', '4'), horizontal=True, key='trans_quater'))
    transac_type = st.selectbox('Please select the Mode',
                                ('Recharge & bill payments', 'Peer-to-peer payments', 'Merchant payments', 'Financial Services', 'Others'), key='transactype')
    transac_values = st.selectbox(
        'Please select the values to visualize', ('Transacion_count', 'Transacion_amount'), key='transacvalues')
    payment_mode_yearwise = pd.read_csv('Transaction_df.csv', index_col=0)



    new_df = payment_mode_yearwise.groupby(
        ['State', 'Year', 'Quarter', 'Transaction Type']).sum()
    new_df = new_df.reset_index()
    chart = new_df[(new_df['State'] == transac_state) &
                   (new_df['Transaction Type'] == transac_type) & (new_df['Quarter'] == transac__quater)]

In [83]:
year_fig = px.bar(chart, x='Year', y='Transaction Count', color='Transaction Type', color_continuous_scale='armyrose',
                      title='Transaction analysis '+transac_state + ' regarding to '+transac_type)
st.plotly_chart(year_fig)

DeltaGenerator()

In [85]:
with st.sidebar:
    # -------------------------- Bar chart ofoverall india transacion data  -----------------------------------------------------------------
    st.subheader(':violet[Overall India Analysis:]')
    overall_values = st.selectbox(
        'Please select the values to visualize', ('Transaction Count', 'Transaction Amount'), key='values')
    overall = new_df.groupby(['Year']).sum()
    overall.reset_index(inplace=True)

    overall = px.bar(overall, x='Year', y=overall_values, color=overall_values,
                     title='Overall pattern of Transacion all over India', color_continuous_scale='sunset',)
    overall.update_layout(height=350, width=350)
    st.plotly_chart(overall)

C:\Users\Sahith\AppData\Local\Temp\ipykernel_2088\2271229126.py:6: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

In [88]:

user_device_overall = pd.read_csv('user_by_device.csv', index_col=0)
overall_device = user_device_overall.groupby(['Brand', 'Year']).sum()
overall_device.reset_index(inplace=True)

overall_dev_fig = px.bar(overall_device, x='Year', y='Brand_count',
                            color='Brand', title='Customer Device pattern from 2018 - 2022')
overall_dev_fig.update_layout(height=350, width=350)
st.plotly_chart(overall_dev_fig)

C:\Users\Sahith\AppData\Local\Temp\ipykernel_2088\87574920.py:2: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

DeltaGenerator()

In [93]:
overall_reg = pd.read_csv('district_registering_map.csv')
overall_reg = overall_reg.groupby('Year').sum().reset_index()

overall_reg_fig = px.bar(
    overall_reg, 
    x='Year', 
    y='Registered User', 
    color_discrete_sequence=['#636EFA'], 
    title='Phonepe Registered Users from 2018 - 2022'
)
overall_reg_fig.update_layout(height=350, width=350)
st.plotly_chart(overall_reg_fig)

overall_app_fig = px.bar(
    overall_reg, 
    x='Year', 
    y='App Opening', 
    color_discrete_sequence=['#EF553B'], 
    title='Phonepe App Openings from 2018 - 2022'
)
overall_app_fig.update_layout(height=350, width=350)
st.plotly_chart(overall_app_fig)

C:\Users\Sahith\AppData\Local\Temp\ipykernel_2088\1778760765.py:2: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

DeltaGenerator()